libpcap.so.1 filter=lfs diff=lfs merge=lfs -text
libwireshark.so.16 filter=lfs diff=lfs merge=lfs -text
libwireshark.so.16.0.2 filter=lfs diff=lfs merge=lfs -text
libwiretap.so filter=lfs diff=lfs merge=lfs -text
libwiretap.so.13 filter=lfs diff=lfs merge=lfs -text
libwiretap.so.13.0.2 filter=lfs diff=lfs merge=lfs -text
libwsutil.so filter=lfs diff=lfs merge=lfs -text
libwsutil.so.14 filter=lfs diff=lfs merge=lfs -text
libwsutil.so.14.0.0 filter=lfs diff=lfs merge=lfs -text
libwireshark.so filter=lfs diff=lfs merge=lfs -text
